<div class="container">
  <%= link_to "Create Loan", new_admin_loan_path %>
  <div class="row loans">
    <% @loans.each do |loan| %>
      <%= render partial: "/layouts/tiny_loan",
                locals: { loan: loan, mode: :edit } %>
    <% end %>
  </div>
</div>
