<link href="stylesheets/the-big-picture.css" rel="stylesheet">
<%= render partial: "layouts/navbar" %>

<div class="full">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Denvestments</h1>
            <p>Invest in your community</p>
        </div>
    </div>
  </div>
</div>
