<div class="container">
  <h1>Admin Dashboard</h1>
  <%= link_to "Edit My Profile", admin_edit_path %><br>
  <%= link_to "View Loans", admin_loans_path %>
  <h1 class="lead">Hello, <%= User.find(session[:user_id]).username.upcase %>!</h1>
  <ul>
    <% @orders.each do |order| %>
    <li><%= link_to "Order ID: #{order.id} - Order Status: #{order.status}", order_path(order) %></li>
    <% end %>
</div>
