.glyphicon {
  font-size: 1.25em;
}

body {
  margin-top: 4em;
}

.row {
  margin-top: 2em;
}

.slide-image {
  width: 100%;
}

#admin-links {
  padding-bottom: 15px;
}

#admin-links a {
  color: white;
}
