$grey: #333;

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: scroll;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  overflow: scroll;
  padding: 0;
}

.thumbnail .caption-full {
  overflow: scroll;
  padding: 9px;
  color: $grey;
}
