.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: scroll;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
  overflow: scroll;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
  overflow: scroll;
}
