
.full {
  background: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Downtown_Denver_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-header {
  color: #666666;
  font-family: "Tenor Sans", Helvetica, sans-serif;
  font-size: 5em;
}

.welcome-text {
  color: #666666;
  font-family: "Tenor Sans", Helvetica, sans-serif;
  font-size: 2em;
}