<% if current_user %>
  <li><%= current_user.username %></li>
  <li><%= link_to "logout", logout_path, method: :delete %></li>
<% else %>
  <li><a href="/login">Log In</a></li>
  <li><a href="/register">Create Account</a></li>
<% end %>
